{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
    <link type="text/css" href="{% static 'coinprice/css/styles.css' %}" rel="stylesheet" />
    <meta http-equiv="Content-Type" content="text/css; charset=utf-8">
    <link rel="shortcut icon" href="{% static 'coinprice/images/main.ico' %}" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"
</head>
<body>
{% block mainmenu %}
    <ul>
        {% for m in menu %}
        <li>{{m}}</li>
        {% endfor %}
    </ul>

{% endblock mainmenu %}
{% block content %}
{% endblock content %}
</body>
</html>
